<?xml version="1.0"?>
<ruleset name="{{PLUGIN_NAME}}">
    <description>PHPCS ruleset for {{PLUGIN_NAME}}.</description>

    <file>.</file>
    <exclude-pattern>vendor/*</exclude-pattern>
    <exclude-pattern>tests/*</exclude-pattern>

    <arg name="extensions" value="php"/>
    <arg name="colors"/>
    <arg value="ps"/>
    <arg name="basepath" value="."/>

    <!-- Skip WordPress's classic class-foo-bar.php file naming convention.
         PSR-4 autoloading uses PascalCase filenames matching the class name. -->
    <rule ref="WordPress-Extra">
        <exclude name="WordPress.Files.FileName"/>
    </rule>
    <rule ref="WordPress-Docs"/>

    <config name="minimum_supported_wp_version" value="6.5"/>
    <config name="testVersion" value="8.0-"/>

    <rule ref="WordPress.WP.I18n">
        <properties>
            <property name="text_domain" type="array">
                <element value="{{TEXT_DOMAIN}}"/>
            </property>
        </properties>
    </rule>
</ruleset>
