<?php
/**
 * Fires when {{PLUGIN_NAME}} is deleted via the Plugins screen (not deactivated).
 *
 * @package {{PLUGIN_NS}}
 */

declare( strict_types=1 );

defined( 'WP_UNINSTALL_PLUGIN' ) || exit;

delete_option( '{{PLUGIN_SLUG}}_options' );

$flavian_post_ids = get_posts(
	array(
		'post_type'   => '{{PLUGIN_SLUG}}_event',
		'numberposts' => -1,
		'fields'      => 'ids',
		'post_status' => 'any',
	)
);
foreach ( $flavian_post_ids as $flavian_pid ) {
	wp_delete_post( (int) $flavian_pid, true );
}
